@* Generator: WebPage *@

@inherits Piranha.WebPages.LayoutPage
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>@Page.Title</title>

    <link rel="icon" href="@Href("~/manager/content/img/icon.ico")" type="image/x-icon">
    <link rel="shortcut icon" href="@Href("~/manager/content/img/icon.ico")" type="image/x-icon"> 
    <link href="@Href("~/manager/content/css/ext/chosen.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Href("~/manager/content/css/ext/jquery-ui-1.9.2.custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/manager/content/css/style.css")" rel="stylesheet" type="text/css"/>
    <link href="@Href("~/manager/content/css/theme.css")" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="@Href("~/manager/content/js/ext/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Href("~/manager/content/js/jquery.manager.js")"></script>
    <script type="text/javascript" src="@Href("~/manager/content/js/ext/chosen.jquery.min.js")"></script>
    <script type="text/javascript">
        var siteroot = "@Href("~/")";
        @*var apikey = "@UI.APIKey("FE868D4F-797C-4E60-B876-64E6FC2424AA")";*@
        siteroot += !siteroot.endsWith("/") ? "/" : "";

        $(document).ready(function () {
            $(".message").click(function () { $(this).fadeOut("medium"); });

            $(".chzn-select").chosen().trigger("liszt:updated");
        });
    </script>
    @if (!String.IsNullOrEmpty(Page.Message)) {
    <script type="text/javascript">
        setTimeout(function () {
            $(".sys-message").slideUp();
        }, 2000);
    </script>
    }
    @RenderSection("Head", false)
</head>
<body>
    <div class="top">
        <div class="container_12">
            <div class="grid_12 header">
                <a class="home" href="@Href("~/manager/")"></a>
                <a class="public-site" target="preview" href="http://@Request.Url.DnsSafeHost@Href("~/")">
                    @Piranha.WebPages.WebPiranha.GetSiteUrl()</a>
                @*@Html.Partial("Partial/Menu")*@
            </div>
        </div>
    </div>
    <div class="title">
        <div class="container_12">
            <div class="grid_12"><h1>@Page.Title</h1></div>
        </div>
    </div>
    <div class="body">
        <div class="container_12">
            <div class="grid_12 toolbar-container">
                @RenderSection("Toolbar", false)
            </div>
            @if (!String.IsNullOrEmpty(Page.Message)) {
            <div class="grid_12 sys-message">
                <div class="box@(!String.IsNullOrEmpty(Page.MessageCss) ? " " + Page.MessageCss : "")">
                    <div class="inner">
                        <div class="ico"></div><p>@Page.Message</p>
                    </div>
                </div>
            </div>
            }
            <div class="content left">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="boxSysMsg" class="floatbox">
        <div class="bg"></div>
        <div class="box">
            <div class="title"><h2 id="SysMsgTitle"></h2></div>
            <div class="inner">
                <p id="SysMsgBody"></p>
            </div>
        </div>
    </div>
    @RenderSection("Foot", false)
</body>
</html>
