@* Generator: WebPage *@

<ul class="menu">
    @foreach (var group in Piranha.Manager.Menu.Items) {
        if (group.HasAccess()) {
            var items = group.ItemsForUser() ;
            <li@(group.IsActive() ? " class=selected" : "")>
                <a@(!String.IsNullOrEmpty(group.IconUrl) ? " style=padding-left:36px;background-image:url('" + Href(group.IconUrl) + "')" : "") href="@Href(items[0].Href)">@group.Name</a>
            </li>
        }
    }
    <li><a style="padding-left:36px;background-image:url('@Href("~/manager/content/img/ico-menu-logout.png")')" href="@Href("~/manager/account/logout")">@Piranha.Resources.Global.MenuLogout</a></li>
</ul>
