@* Generator: WebPage *@

@using Piranha.Manager.Models
@{
    List<PageListModel.PageStructure> pages = (List<PageListModel.PageStructure>)PageData[0] ;
}

@foreach (var page in pages) {
    <li id="@page.Id" class="@(page.Pages.Count > 0 ? (page.Level <= Page.Levels || page.HasChild(Page.Expanded) ? "expanded" : "collapsed") : "") @(page.Status == PageListModel.PageStatus.DRAFT ? "draft" : "")">
        <span class="buttons">
            <button class="icon add-after marg" title="@Piranha.Resources.Page.ListAddAfter" onclick="return preSubmit('@page.ParentId', @(page.Seqno + 1))" type="submit"></button>
            <button class="icon add-below marg" title="@Piranha.Resources.Page.ListAddBelow" onclick="return preSubmit('@page.Id', 1)" type="submit"></button>
            @if (page.Pages.Count == 0) {
            <a href="@Href("~/manager/page/edit/delete/" + page.Id)" title="@Piranha.Resources.Page.ListDelete" class="icon delete"></a>
            }
        </span>
        <span class="date">@page.Created.ToString("yyyy-MM-dd")</span>
        <span class="date">@page.Updated.ToString("yyyy-MM-dd")</span>
        <span class="type">@page.TemplateName</span>
        <span class="title">@if (page.Pages.Count > 0) {<span class="action"></span>}<a href="@Href("~/manager/page/edit/" + page.Id)">
            @page.DisplayTitle
            <div class="list-info">
                @Html.Raw(page.Status == PageListModel.PageStatus.UNPUBLISHED ? "<span class=info-unpublished></span>" : (page.Status == PageListModel.PageStatus.DRAFT ? "<span class=info-draft></span>" : ""))
            </div></a></span>
        @if (page.Pages.Count > 0) {
        <ul>
            @RenderPage("~/manager/shared/sitetree.cshtml", page.Pages)
        </ul>
        }
    </li>
}
