@* Generator: WebPage *@

@inherits Piranha.Manager.Templates.UserEdit
@{
    Layout = "~/Manager/Shared/_Layout.cshtml" ;
}
@section Toolbar {
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit">@Piranha.Manager.Resources.Toolbar.Save</a></li>
            @if (Model.User.Id != Guid.Empty) {
            <li><a href="@Href("~/manager/user/edit/delete/" + Model.User.Id)" class="delete">@Piranha.Manager.Resources.Toolbar.Delete</a></li>
            }
            <li><a href="@Href("~/manager/user")" class="back">@Piranha.Manager.Resources.Toolbar.Back</a></li>
            @if (Model.User.Id != Guid.Empty) {
            <li><a href="@Href("~/manager/user/edit/" + Model.User.Id)" class="refresh">@Piranha.Manager.Resources.Toolbar.Reload</a></li>
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>
}
@section Head {
    <script type="text/javascript" src="@Href("~/manager/content/js/ext/jquery-ui-1.9.2.custom.min.js")"></script>
    <script type="text/javascript">
        function disableLockedUntil() {
            $('#m_User_LockedUntil').val('').attr('disabled', true);
        }
        function enableLockedUntil() {
            $('#m_User_LockedUntil').val('').removeAttr('disabled');
        }

        $(document).ready(function () {
            if (!$('#m_User_IsLocked').is(':checked')) {
                disableLockedUntil();
            }
            $('#m_User_IsLocked').click(function () {
                if (!$(this).is(':checked'))
                    disableLockedUntil();
                else enableLockedUntil();
            });
            $('.datepicker input').datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
}
<form method="post">
@UI.FormAction("Save")
@Html.Hidden("m.User.Id", Model.User.Id)
<div class="grid_9">
    <div class="box">
        <div class="title"><h2>@Piranha.Manager.Resources.Global.Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Form.LabelFor(m => m.User.Login, @Piranha.Manager.Resources.Global.Username)
                    <div class="input">
                        @Form.TextBoxFor(m => m.User.Login)</div>
                    @Form.ValidationMessageFor(m => m.User.Login)
                </li>
                <li>
                    @Form.LabelFor(m => m.User.Firstname, @Piranha.Manager.Resources.User.Firstname)
                    <div class="input">
                        @Form.TextBoxFor(m => m.User.Firstname)</div>
                    @Form.ValidationMessageFor(m => m.User.Firstname)
                </li>
                <li>
                    @Form.LabelFor(m => m.User.Surname, @Piranha.Manager.Resources.User.Surname)
                    <div class="input">
                        @Form.TextBoxFor(m => m.User.Surname)</div>
                    @Form.ValidationMessageFor(m => m.User.Surname)
                </li>
                <li>
                    @Form.LabelFor(m => m.User.Email, @Piranha.Manager.Resources.User.Email)
                    <div class="input">
                        @Form.TextBoxFor(m => m.User.Email)</div>
                    @Form.ValidationMessageFor(m => m.User.Email)
                </li>
                <li>
                    @Form.LabelFor(m => m.User.Group, @Piranha.Manager.Resources.Global.Group)
                    <div class="input">
                        @Form.DropDownListFor(m => m.User.GroupId, Model.Groups, Model.User.GroupId)</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="title"><h2>@Piranha.Manager.Resources.User.Account</h2></div>
        <div class="inner">
            <ul class="form">
                <li>@Form.LabelFor(m => m.User.IsLocked, @Piranha.Manager.Resources.User.Lock)
                    <p>@Form.CheckBoxFor(m => m.User.IsLocked) (@Piranha.Manager.Resources.User.LockInfo)</p>
                </li>
                <li>@Html.Label(@Piranha.Manager.Resources.User.LockUntil)
                    <div class="input datepicker">
                        @Form.TextBoxFor(m => m.User.LockedUntil)</div>
                </li>
            </ul>
        </div>
    </div>
    @*@if (Model.Extensions.Count > 0) {
        @Html.EditorFor(m => m.Extensions)
    }*@
</div>
<div class="grid_3">
    <div class="box">
        <div class="title"><h2>@(Model.User.Id == Guid.Empty ? @Piranha.Manager.Resources.User.PasswordCreate : @Piranha.Manager.Resources.User.PasswordChange)</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Form.LabelFor(m => m.User.Password, @Piranha.Manager.Resources.Global.Password)
                    <div class="input">
                        @Form.PasswordFor(m => m.User.Password)</div>
                </li>
                <li>
                    @Form.LabelFor(m => m.ConfirmPassword, @Piranha.Manager.Resources.Global.Confirm)
                    <div class="input">
                        @Form.PasswordFor(m => m.ConfirmPassword)</div>
                    @Form.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ul>
        </div>
    </div>
</div>
</form>