@* Generator: WebPage *@
@inherits Piranha.WebPages.ContentPage<Piranha.Manager.Models.UserListModel>
@{
    Page.Title = @Piranha.Resources.Settings.ListTitleUsers ;
    Layout = "~/Manager/Shared/_Layout.cshtml" ;
}
@section Head {
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                listClass: 'list-js',
                searchId: 'search',
                valueNames: ['login', 'name', 'group', 'updated', 'created']
            };
            var list = new List('list', options);
        });
    </script>
}
@section Toolbar {
@*@Html.Partial("Partial/Tabs")*@
<div class="toolbar">
    <div class="inner">
        <ul>
            <li id="add"><a href="@Href("~/manager/user/edit")" class="add">@Piranha.Resources.Global.ToolbarAdd</a></li>
            <li><a href="@Href("~/manager/user")" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
        </ul>
        <button class="search"></button>@Html.TextBox("search")
        <div class="clear"></div>
    </div>
</div>
}

<div class="grid_12">
    <table id="list" class="list">
        <thead>
            <tr>
                <th></th>
                <th><span class="sort asc" data-sort="login">@Piranha.Resources.Global.Username</span></th>
                <th><span class="sort" data-sort="name">@Piranha.Resources.Global.Name</span></th>
                <th><span class="sort" data-sort="group">@Piranha.Resources.Global.Group</span></th>
                <th class="date"><span class="sort" data-sort="updated">@Piranha.Resources.Global.Updated</span></th>
                <th class="date"><span class="sort" data-sort="created">@Piranha.Resources.Global.Created</span></th>
                <th class="one"></th>
            </tr>
        </thead>
        <tbody class="list-js">
            @foreach (var user in Model.Users) {
            <tr>
                <td class="gravatar">
                    @if (!String.IsNullOrEmpty(user.Email)) {
                        <img src="@UI.Gravatar.Image(user.Email, 30)" alt="Gravatar for @user.Email" />
                    }
                </td>
                <td class="login">
                    @if (User.IsMember(user.GroupId.Value)) {
                    <a href="@Href("~/manager/user/edit/" + user.Id)">@user.Login</a>
                    } else {
                    @user.Login
                    }
                </td>        
                <td class="name">@user.Firstname @user.Surname</td>
                <td class="group">@user.Group.Name</td>
                <td class="updated">@user.Updated.ToString("yyyy-MM-dd")</td>
                <td class="created">@user.Created.ToString("yyyy-MM-dd")</td>
                <td class="buttons">
                    @if (User.IsMember(user.GroupId.Value)) {
                    <a class="icon delete" href="@Href("~/manager/user/delete/" + user.Id)"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
