<ul class="tabs">
    @if (User.HasAccess("ADMIN_PAGE_TEMPLATE")) {
    <li><a@(ViewBag.SelectedTab == "PageType" ? " class=selected" : "") href="@Url.Action("pagelist", "template")">@Piranha.Resources.Tabs.SettingsPageTypes</a></li>
    }
    @if (User.HasAccess("ADMIN_POST_TEMPLATE")) {
    <li><a@(ViewBag.SelectedTab == "PostType" ? " class=selected" : "") href="@Url.Action("postlist", "template")">@Piranha.Resources.Tabs.SettingsPostTypes</a></li>
    }
    @if (User.HasAccess("ADMIN_CATEGORY")) {
    <li><a@(ViewBag.SelectedTab == "Category" ? " class=selected" : "") href="@Url.Action("index", "category")">@Piranha.Resources.Tabs.SettingsCategories</a></li>
    }
</ul>
<div class="clear"></div>
