@model Piranha.Areas.Manager.Models.PostListModel
@using Piranha.Areas.Manager.Models;
@section Head {
    <script type="text/javascript">
        $(document).ready(function () {
            // Set the selected template id
            $(".templates").click(function () {
                $("#TemplateId").val($(this).attr("data-templateid"));
                $("form").submit();
            });

            // Notification before delete
            $(".delete").click(function() {
                return confirm("@Piranha.Resources.Post.MessageDeleteConfirm") ;
            });

            // Setup post list
            var options = {
                listClass:  'list-js',
                searchId: 'search',
                valueNames: ['title', 'template', 'updated', 'created']
            };
            var postList = new List('list', options);
        });
    </script>
}
@section Toolbar { 
@Html.Partial("Partial/Tabs")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a onclick="floatBox.show('boxTemplates')" class="add">@Piranha.Resources.Global.ToolbarAdd</a></li>
            <li><a href="" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
        </ul>
        <button class="search" title="@Piranha.Resources.Global.ToolbarSearch"></button>@Html.TextBox("search")
        <div class="clear"></div>
    </div>
</div>
}
<div class="grid_12">
@using (Html.BeginForm("insert", (string)ViewContext.RouteData.Values["Controller"])) {
    @Html.Hidden("TemplateId", "906761ea-6c04-4f4b-9365-f2c350ff4372")
    @Html.Hidden("ParentId")
    @Html.Hidden("Seqno")
    <table id="list" class="list">
        <thead>
            <tr>
                <th><span class="sort asc" data-sort="title">@Piranha.Resources.Global.Title</span></th>
                <th><span class="sort" data-sort="template">@Piranha.Resources.Global.Type</span></th>
                <th class="date"><span class="sort" data-sort="updated">@Piranha.Resources.Global.Updated</span></th>
                <th class="date"><span class="sort" data-sort="created">@Piranha.Resources.Global.Created</span></th>
                <th class="one"></th>
            </tr>
        </thead>
        <tbody class="list-js">
            @foreach (var post in Model.Posts) {
            <tr@(post.Status == PostListModel.PostStatus.DRAFT || post.Status == PostListModel.PostStatus.UNPUBLISHED ? " class=draft" : "")>
                <td class="title"><a href="@Url.Action("edit", new { id = post.Id })">
                    @post.Title
                    <div class="list-info">
                        @Html.Raw(post.Status == PostListModel.PostStatus.UNPUBLISHED ? "<span class=info-unpublished></span>" : (post.Status == PostListModel.PostStatus.DRAFT ? "<span class=info-draft></span>" : ""))
                        @if (post.NewComments > 0) {
                        <span class="notification">@post.NewComments</span>
                        }
                    </div>
                </a></td>
                <td class="template">@post.TemplateName</td>
                <td class="updated">@post.Updated.ToString("yyyy-MM-dd")</td>
                <td class="created">@post.Created.ToString("yyyy-MM-dd")</td>
                <td class="buttons">
                    <a href="@Url.Action("delete", new { id = post.Id })" title="Ta bort artikel" class="icon delete"></a></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
}
</div>

@section Foot {
<div id="boxTemplates" class="floatbox">
    <div class="bg"></div>
    <div class="box">
        <div class="title"><a class="close-btn right" data-id="boxContent"></a><h2>@Piranha.Resources.Post.PopupTypeTitle</h2></div>
        <div class="inner">
        @foreach (var template in Model.Templates) {
            <div class="templates @(Model.Templates.Count > 6 ? "compressed" : "") left" data-templateid="@template.Id">
                <h3>@template.Name</h3>
                <div class="preview" style="width:120px;height:120px;margin:0 auto;">
                    @template.Preview.Html()
                </div>
                <p>@template.Description</p>
            </div>
        } 
        </div>
    </div>
</div>
}