@* Generator: WebPage *@

@inherits Piranha.WebPages.ContentPage<Piranha.Manager.Models.CommentListModel>
@{
    if (!User.HasAccess("ADMIN_COMMENT")) {
        Response.Redirect("~/manager/account") ;
    }
    
    Page.Title = Piranha.Manager.Resources.Comment.ListTitle ;
    Layout = "~/Manager/Shared/_Layout.cshtml" ;
    
    if (Piranha.Manager.Hooks.CommentListModelLoaded != null) {
        Piranha.Manager.Hooks.CommentListModelLoaded(this, Piranha.Manager.Menu.GetActiveMenuItem(), Model) ;
    }
}
@section Head {
    <script type="text/javascript">
        $(document).ready(function () {
            // Setup list
            var options = {
                listClass:  'list-js',
                searchId: 'search',
                valueNames: ['title', 'author', 'status', 'created']
            };
            new List('list', options);
        });
    </script>
}
@section Toolbar { 
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a href="@Href("~/manager/comment")" class="refresh">@Piranha.Manager.Resources.Toolbar.Reload</a></li>
        </ul>
        <button class="search" title="@Piranha.Manager.Resources.Toolbar.Search"></button>@Html.TextBox("search")
        <div class="clear"></div>
    </div>
</div>
}
<div class="grid_12">
    <table id="list" class="list">
        <thead>
            <tr>
                <th><span class="sort asc" data-sort="title">@Piranha.Manager.Resources.Global.Title</span></th>
                <th><span class="sort" data-sort="status">@Piranha.Manager.Resources.Comment.Author</span></th>
                <th><span class="sort" data-sort="author">@Piranha.Manager.Resources.Global.Status</span></th>
                <th class="date"><span class="sort" data-sort="created">@Piranha.Manager.Resources.Global.Created</span></th>
                <th class="one"></th>
            </tr>
        </thead>
        <tbody class="list-js">
            @foreach (var comment in Model.Comments) {
            <tr>
                <td class="title"><a href="@Href("~/manager/comment/edit/" + comment.Id)">@comment.Title</a></td>
                <td class="author"><a href="mailto:@comment.AuthorEmail">@comment.AuthorName</a></td>
                <td class="status">@comment.StatusName</td>
                <td class="created">@comment.Created.ToString("yyyy-MM-dd")</td>
                <td class="buttons">
                    <a href="@Href("~/manager/comment/edit/delete/" + comment.Id)" title="@Piranha.Manager.Resources.Comment.Delete" class="icon delete"></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
