@{
    ViewBag.Title = @Piranha.Resources.Account.UpdateTitle;
    Layout = "" ;
    
    var curr = Piranha.Models.SysParam.GetByName("SITE_VERSION") ;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>@Piranha.Resources.Account.UpdateTitle</title>

    <link href="~/r.ashx/piranha/areas/manager/content/img/icon.ico" rel="icon" type="image/x-icon">
    <link href="~/r.ashx/piranha/areas/manager/content/img/icon.ico" rel="shortcut icon" type="image/x-icon"> 
    <link href="~/r.ashx/piranha/areas/manager/content/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="~/r.ashx/piranha/areas/manager/content/css/theme.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="~/r.ashx/piranha/areas/manager/content/js/ext/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/r.ashx/piranha/areas/manager/content/js/jquery.manager.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".message").click(function () { $(this).fadeOut("medium"); });

            if ($("#sysMsg").text() != "") {
                floatBox.show("boxMessage");
            }
            $("#login").focus();
        });
    </script>
</head>
<body>
    <div class="container_12">
        <div class="grid_4 box login">
            <div class="title"><h2>@Piranha.Resources.Account.UpdateTitle</h2></div>
            <div class="inner">
                <p>@Html.Raw(String.Format(Piranha.Resources.Account.UpdateMessage, Piranha.Data.Database.InstalledVersion, Piranha.Data.Database.CurrentVersion))</p>
                <br />
                @{ Html.BeginForm("runupdate", "install") ; }
                <ul class="form">
                    <li><label>@Piranha.Resources.Account.Username</label>
                        <div class="input"><input id="login" name="login" type="text" /></div></li>
                    <li><label>@Piranha.Resources.Account.Password</label>
                        <div class="input"><input name="password" type="password" /></div></li>
                <div class="separator"></div>
                <br />
                <button class="btn full big" type="submit">@Piranha.Resources.Account.Update</button>
                @{ Html.EndForm() ; }
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="boxMessage" class="floatbox">
        <div class="bg"></div>
        <div class="box">
            <div class="title"><h2>@Piranha.Resources.Global.PopupMessageTitle</h2></div>
            <div class="inner" style="width: 360px;min-height:60px;text-align:center">
                <p id="sysMsg">@ViewBag.Message</p>
            </div>
        </div>
    </div>
</body>
</html>