@model Piranha.Extend.Regions.ImageRegion
@{
    Layout = "" ;
    
    var btnId = @ViewData.TemplateInfo.GetFullHtmlFieldId("myButton") ;
    var boxId = @ViewData.TemplateInfo.GetFullHtmlFieldId("myImageBox") ;
    var retId = @ViewData.TemplateInfo.GetFullHtmlFieldId("Id") ;
    var nameId = @ViewData.TemplateInfo.GetFullHtmlFieldId("Name") ;
    var altId = @ViewData.TemplateInfo.GetFullHtmlFieldId("Description") ;
    var imgPrev = @ViewData.TemplateInfo.GetFullHtmlFieldId("Preview") ;
}
<script type="text/javascript">
    $(document).ready(function () {
        var m = new piranha.media('@btnId', '@boxId', function (data) {
            $('#@retId').val(data.Id);
            $('#@nameId').val(data.DisplayName);
            $('#@altId').val(data.Description);
        });
    });
</script>
<ul class="form">
    <li>
        @Html.LabelFor(m => m.Name)
        <div class="upload">
            @Html.HiddenFor(m => m.Id)
            <button type="button" id="@btnId" class="btn right">@Piranha.Resources.Global.ChooseFile</button>
            <div class="input">
                @Html.TextBoxFor(m => m.Name)</div>
        </div>
    </li>
    <li>
        @Html.LabelFor(m => m.Description)
        <div class="input">
            @Html.TextBoxFor(m => m.Description)</div>
    </li>
</ul>
 <div id="@boxId" class="floatbox">
    <div class="bg"></div>
    <div class="box" style="max-width:640px;min-width:510px;min-height:260px;">
    </div>
</div>
