@* Generator: WebPage *@

@inherits Piranha.Manager.Templates.PermissionEdit
@{
    Layout = "~/Manager/Shared/_Layout.cshtml" ;
}
@section Toolbar {
@*@Html.Partial("Partial/Tabs")*@
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit">@Piranha.Resources.Global.ToolbarSave</a></li>
            @if (Model.Permission.Id != Guid.Empty && !Model.Permission.IsLocked) {
            <li><a href="@Href("~/manager/permission/edit/delete/" + Model.Permission.Id)" class="delete">@Piranha.Resources.Global.ToolbarDelete</a></li>
            }
            <li><a href="@Href("~/manager/permission")" class="back">@Piranha.Resources.Global.ToolbarBack</a></li>
            @if (Model.Permission.Id != Guid.Empty) {
            <li><a href="@Href("~/manager/permission/edit/" + Model.Permission.Id)" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>
}
<form method="post">
@UI.FormAction("Save")
@Form.HiddenFor(m => m.Permission.Id)
<div class="grid_12">
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Global.Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Form.LabelFor(m => m.Permission.Name, Piranha.Resources.Settings.AccessName)
                    <div class="input">
                        @if (!Model.Permission.IsLocked) {
                            @Form.TextBoxFor(m => m.Permission.Name)
                        } else {
                            @Form.TextBoxFor(m => m.Permission.Name, new { disabled = "disabled" })
                            @Form.HiddenFor(m => m.Permission.Name)
                        }
                    </div>
                    @Form.ValidationMessageFor(m => m.Permission.Name)
                </li>
                <li>
                    @Form.LabelFor(m => m.Permission.GroupId, Piranha.Resources.Settings.AccessGroup)
                    <div class="input">
                        @Form.DropDownListFor(m => m.Permission.GroupId, Model.Groups)</div>
                    @Form.ValidationMessageFor(m => m.Permission.GroupId)
                </li>
                <li>
                    @Form.LabelFor(m => m.Permission.Description, Piranha.Resources.Settings.AccessDescription)
                    <div class="input">
                        @if (!Model.Permission.IsLocked) {
                            @Form.TextAreaFor(m => m.Permission.Description, 
                                new { @rows = 3, @placeholder = Piranha.Resources.Global.Optional })
                        } else {
                            @Form.TextAreaFor(m => m.Permission.Description, 
                                new { @rows = 3, @disabled = "disabled", @placeholder = Piranha.Resources.Global.Optional })
                            @Form.HiddenFor(m => m.Permission.Description)
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</form>