@model Piranha.Models.Manager.SettingModels.UserListModel
@section Head {
    <style type="text/css">
        .content .tabs {
            float: left;
            margin-left: 10px;
        }
        .content .tabs .selected {
            border: 0 none;
            padding: 10px 20px 6px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                listClass: 'list-js',
                searchId: 'search',
                valueNames: ['login', 'name', 'group', 'updated', 'created']
            };
            var list = new List('list', options);
        });
    </script>
}
@section Toolbar {
@Html.Partial("Partial/Tabs")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li id="add">
                <a href="@Url.Action("user")" class="add">@Piranha.Resources.Global.ToolbarAdd</a>
            </li>
            <li><a href="@Url.Action("userlist")" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
        </ul>
        <button class="search"></button>@Html.TextBox("search")
        <div class="clear"></div>
    </div>
</div>
}

<div class="grid_12">
    @if (Model.Groups.Count > 1) {
    <div>
        <ul class="tabs">
            <li><a href="@Url.Action("userlist", "settings")" @(Model.ActiveGroup == Guid.Empty ? "class=selected" : "")>All</a></li>
            @foreach (var group in Model.Groups) {
            <li>
                <a href="@Url.Action("usergroup", "settings", new { @id = group.Id })" @(group.Id == Model.ActiveGroup ? "class=selected" : "")>@group.Name</a>
            </li>
            }
        </ul>
        <div class="clear"></div>
    </div>
    }
    <table id="list" class="list">
        <thead>
            <tr>
                <th></th>
                <th><span class="sort asc" data-sort="login">@Piranha.Resources.Global.Username</span></th>
                <th><span class="sort" data-sort="name">@Piranha.Resources.Global.Name</span></th>
                <th><span class="sort" data-sort="group">@Piranha.Resources.Global.Group</span></th>
                <th class="date"><span class="sort" data-sort="updated">@Piranha.Resources.Global.Updated</span></th>
                <th class="date"><span class="sort" data-sort="created">@Piranha.Resources.Global.Created</span></th>
                <th class="one"></th>
            </tr>
        </thead>
        <tbody class="list-js">
            @foreach (var user in Model.Users) {
            <tr>
                <td class="gravatar">
                    @if (!String.IsNullOrEmpty(user.Email)) {
                        <img src="@Url.GetGravatarUrl(user.Email, 30)" alt="Gravatar for @user.Email" />
                    }
                </td>
                <td class="login">
                    @if (User.IsMember(user.GroupId)) {
                    <a href="@(Model.ActiveGroup == Guid.Empty ? 
                        Url.Action("user", new { id = user.Id }) :
                        Url.Action("user", new { id = user.Id, returl = Url.Action("usergroup", new { id = Model.ActiveGroup }) }))">@user.Login</a>
                    } else {
                    @user.Login
                    }
                </td>        
                <td class="name">@user.Firstname @user.Surname</td>
                <td class="group">@user.GroupName</td>
                <td class="updated">@user.Updated.ToString("yyyy-MM-dd")</td>
                <td class="created">@user.Created.ToString("yyyy-MM-dd")</td>
                <td class="buttons">
                    @if (User.IsMember(user.GroupId)) {
                    <a class="icon delete" href="@Url.Action("deleteuser", new { id = user.Id })"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>