@{
    ViewBag.Title = @Piranha.Resources.Account.UpdateTitle;
    Layout = "" ;
    
    var curr = Piranha.Models.SysParam.GetByName("SITE_VERSION") ;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>@Piranha.Resources.Account.UpdateTitle</title>
	<link rel="shortcut icon" href="@Url.Content("~/Areas/Manager/Content/Img/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Areas/Manager/Content/Img/apple-touch-icon.png")"/>
    <link href="@Url.Content("~/Areas/Manager/Content/Css/Style.ashx")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".message").click(function () { $(this).fadeOut("medium"); });

            if ($("#sysMsg").text() != "") {
                floatBox.show("boxMessage");
            }

            $("#schema").click(function () {
                $("#InstallType").attr("value", "SCHEMA");
            });
        });
    </script>
</head>
<body>
    <div class="container_12">
        <div class="grid_6 box login">
            <div class="title"><h2>@Piranha.Resources.Account.UpdateTitle</h2></div>
            <div class="inner">
                <p>@Html.Raw(String.Format(Piranha.Resources.Account.UpdateMessage, Piranha.Data.Database.InstalledVersion, Piranha.Data.Database.CurrentVersion))</p>
                <br />
                @{ Html.BeginForm("runupdate", "install") ; }
                <div class="separator"></div>
                <br />
                <button class="btn full big" type="submit">@Piranha.Resources.Account.Update</button>
                @{ Html.EndForm() ; }
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>