@model Piranha.Models.Manager.ContentModels.PopupModel
@{
    Layout = "";
    var first = true ;
}
<div class="title">
    <ul class="box-tabs">
        <li class="selected"><a href="#attach-existing">Choose existing</a></li>
        <li class="hidden"><a href="#attach-new">Upload new</a></li>
    </ul>
    <a class="close-btn right" data-id="boxContent"></a>
    <div class="clear"></div>
</div>
<div id="attach-existing" class="inner gallery">
    @foreach (var content in Model.Content) {
        <div class="gallery-item @(Model.Content.Count > 12 ? "compressed" : "")">
            @if (first && content.ParentId != Guid.Empty) {
            <img class="folder" data-id="@content.Id" src="@Url.Content("~/areas/manager/content/img/ico-folder-up-96.png")" />
            } else {
            <img@(content.IsFolder ? " class=folder" : (!content.IsImage ? " class=document" : "")) data-id="@content.Id" src="@Url.Content("~/thumb/" + content.Id + "/96")" title="@content.AlternateText" alt="@content.AlternateText" />
            }
            <p><small>@content.DisplayName</small></p>
        </div>
        first = false ;
    }
</div>
<div id="attach-new" class="inner hidden">
    @Html.HiddenFor(m => m.NewContent.Id)
    @Html.HiddenFor(m => m.NewContent.IsNew)
    @Html.HiddenFor(m => m.NewContent.IsImage)
    @Html.HiddenFor(m => m.NewContent.Created)
    @Html.HiddenFor(m => m.NewContent.CreatedBy)
    @Html.HiddenFor(m => m.NewContent.Filename)
    @Html.HiddenFor(m => m.NewContent.Type)
    @Html.HiddenFor(m => m.NewContent.Width)
    @Html.HiddenFor(m => m.NewContent.Height)
    @Html.HiddenFor(m => m.NewContent.Size)
    <ul class="form">
        <li>
            <label>@Piranha.Resources.Content.Upload</label>
            <div class="hidden">
                <input type="file" id="UploadedFile" name="UploadedFile" data-id="upload_name" />
            </div>
            <div class="upload">
                <button class="btn blue file" data-id="UploadedFile">@Piranha.Resources.Global.ChooseFile</button>
                <div class="input">
                    <input id="upload_name" type="text" />
                </div>
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.NewContent.AlternateText)
            <div class="input">
                @Html.TextBoxFor(m => m.NewContent.AlternateText, 
                    new { @placeholder = @Piranha.Resources.Global.Optional })</div>
        </li>
        <li>
            @Html.LabelFor(m => m.NewContent.Description)
            <div class="input">
                @Html.TextAreaFor(m => m.NewContent.Description, 
                    new { @rows = 3, @placeholder = @Piranha.Resources.Global.Optional })</div>
        </li>
    </ul>
    <button class="btn right">Upload</button>
</div>
