@model Piranha.Extend.Regions.FormRegion.FormElement

<fieldset>
    <ul class="form">
        <li>
            @Html.LabelFor(m => m.Label)
            <div class="input">@Html.TextBoxFor(m => m.Label)</div>
        </li>
        <li>
            @Html.LabelFor(m => m.Type)
            <div class="input">@Html.DropDownListFor(m => m.Type, Model.Types)</div>
        </li>
        <li>
            @Html.LabelFor(m => m.IsRequired)
            <p>@Html.CheckBoxFor(m => m.IsRequired) @Piranha.Resources.Extensions.FormRegionElementRequiredText</p>
        </li>
        <div class="buttons">
            <a class="icon delete">Delete</a>
            <a class="icon up">Move up</a>
            <a class="icon down">Move down</a>
        </div>
    </ul>
</fieldset>