@model Piranha.Models.Manager.PageModels.EditModel
@{
    ViewBag.Selected = "Cms" ;
    ViewBag.SelectedTab = "Page" ;
}
@section Head {
    <script type="text/javascript" src="@Url.Content("~/Areas/Manager/Content/Js/jquery.page.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Manager/Content/Js/jquery.attachment.js")"></script>
    @Html.Partial("~/Areas/Manager/Views/Shared/Partial/TinyMCE.cshtml")
    <script type="text/javascript">
 
        $(document).ready(function () {
            $("#Page_Title").focus();
            
            bindEvents();
        });

        function bindEvents() {
            //
            // Opens the content popup in a floatbox with ajax.
            //
            $("#btn_attach").unbind();
            $("#btn_attach").click(function () {
                $("#boxContent .box > div").remove();
                floatBox.show("boxContent");
                $.ajax({
                    url: "@Url.Action("popup", "content")",
                    success: function(data) {
                        $("#boxContent .box").append(data) ;
                        floatBox.position($("#boxContent .box"));
                        bindAjaxBoxEvents();
                        bindEvents();
                    }
                });
            });

            $(".gallery-item img").unbind();
            $(".gallery-item img").click(function() {
                $.ajax({
                    url: "@Url.Content("~/rest/content")/" + $(this).attr("data-id"),
                    dataType: "json",
                    success: function(data) {
                        addAttachment(data) ;
                        floatBox.close("boxContent");
                        bindAttachmentEvents();
                    }
                });
            });

            //
            // Deletes a row from the attachment list.
            //
            $("#attachments .delete").unbind();
            $("#attachments .delete").click(function() {
                console.log("deleting");
                var row = $(this).parent().parent();
                $('#attachments input[value="' + row.attr("data-id") + '"]').remove();
                row.remove();
            });

            $("form").unbind();
            $("form").submit(function () {
                // Build Attachments
                $.each($("#attachments tr"), function (index, val) {
                    if (index > 0) {
                        $("#attachment_data").append(
                            '<input id="Page_Attachments_' + (index - 1) +
                            '_" name="Page.Attachments[' + (index - 1) +
                            ']" type="hidden" value="' + $(val).attr("data-id") + '" />');
                    }
                });
            });
        }

        function addAttachment(a) {
            $(".attachments").append(
                '<tr data-id="' + a.Id + '">' +
                    '<td><img src="' + a.ThumbnailUrl + '/50")" /></td>' +
                    '<td>' + a.Filename + '</td>' +
                    '<td>' + a.Type + '</td>' +
                    '<td class="buttons three">' +
                        '<a class="icon up marg"></a>' +
                        '<a class="icon down marg"></a>' +
                        '<a class="icon delete"></a></td>' +
                '</tr>') ;
        }
    </script>
}

@section Toolbar {
@Html.Partial("Partial/TabsContent")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit">@Piranha.Resources.Global.ToolbarSave</a></li>
            <li><a class="publish">@Piranha.Resources.Global.ToolbarPublish</a></li>
            <li><a href="@Url.Action("delete", new { id = Model.Page.Id })" class="delete">@Piranha.Resources.Global.ToolbarDelete</a></li>
            <li><a href="@Url.Action("index")" class="back">@Piranha.Resources.Global.ToolbarBack</a></li>
            <li><a href="" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
            @if (!Model.Page.IsNew) {
            <li><a href="http://@Request.Url.DnsSafeHost@Url.GetPermalink(Model.Page.Permalink, true).ToLower()" target="preview" class="preview">@Piranha.Resources.Global.ToolbarPreview</a></li>
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>
}

@{ Html.BeginForm("Edit", "Page") ; }
<div>
    @Html.HiddenFor(m => m.Page.IsNew)
    @Html.HiddenFor(m => m.Page.Id)
    @Html.HiddenFor(m => m.Page.IsDraft)
    @Html.HiddenFor(m => m.Page.Permalink)
    @Html.HiddenFor(m => m.Page.TemplateId)
    @Html.HiddenFor(m => m.Page.ParentId)
    @Html.HiddenFor(m => m.Page.Seqno)
    @Html.HiddenFor(m => m.Page.Permalink)
    @Html.HiddenFor(m => m.Page.Created)
    @Html.HiddenFor(m => m.Page.Updated)
    @Html.HiddenFor(m => m.Page.Published)
    @Html.HiddenFor(m => m.Page.LastPublished)
    @Html.HiddenFor(m => m.Page.CreatedBy)
    @Html.HiddenFor(m => m.Page.UpdatedBy)
    @Html.HiddenFor(m => m.Permalink.IsNew)
    @Html.HiddenFor(m => m.Permalink.Id)
    @Html.HiddenFor(m => m.Permalink.ParentId)
    @Html.HiddenFor(m => m.Permalink.Type)
    @Html.HiddenFor(m => m.Permalink.Created)
    @Html.HiddenFor(m => m.Permalink.CreatedBy)
    <input type="hidden" id="draft" name="draft" value="true" />
</div>
<div class="grid_9">
    <div class="box expandable">
        <div class="title"><h2>@Piranha.Resources.Global.Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>@Html.LabelFor(m => m.Page.Title)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Page.Title)</div>
                    @Html.ValidationMessageFor(m => m.Page.Title)
                </li>
                <li class="protected">@Html.LabelFor(m => m.Page.Permalink)
                	@if (!Model.Page.IsNew) {
                    <p>http://@Request.Url.DnsSafeHost@Url.GetPermalink(Model.Page.Permalink).ToLower()</p>
                    } else {
                    <p><i>@Piranha.Resources.Page.PermalinkDescription</i></p>
                    }
                    <div class="input">
                        @Html.TextBoxFor(m => m.Permalink.Name)</div>
                    <a class="locked"></a>
                </li>
                <li>
                    <label>@Piranha.Resources.Global.Placement</label>
                    @if (!Model.Page.IsStartpage) {
                    <p>@Piranha.Resources.Global.PlacementPage <strong>@(Model.Page.Seqno > 1 ? @Piranha.Resources.Global.PlacementAfter : @Piranha.Resources.Global.PlacementBelow)</strong> &quot;@Model.PlaceRef&quot;</p>
                    } else {
                    <p>@Piranha.Resources.Global.PlacementStart</p>
                    }
                </li>
                @if (Model.Template.ShowController) {
                <li>@Html.LabelFor(m => m.Page.PageController)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Page.PageController, new { @placeholder = !String.IsNullOrEmpty(Model.Template.Controller) ? Model.Template.Controller : Piranha.Resources.Global.Optional })</div>
                    @Html.ValidationMessageFor(m => m.Page.PageController)
                </li>
                }
                @if (Model.Template.ShowRedirect) {
                <li>@Html.LabelFor(m => m.Page.PageRedirect)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Page.PageRedirect, new { @placeholder = !String.IsNullOrEmpty(Model.Template.Redirect) ? Model.Template.Redirect : Piranha.Resources.Global.Optional })</div>
                    @Html.ValidationMessageFor(m => m.Page.PageRedirect)
                </li>
                }
            </ul>
            <ul class="form optional">
                <li>@Html.LabelFor(m => m.Page.NavigationTitle)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Page.NavigationTitle, new { @placeholder = Piranha.Resources.Global.Optional })</div>
                    @Html.ValidationMessageFor(m => m.Page.NavigationTitle)
                </li>
                <li>
                    @Html.LabelFor(m => m.Page.GroupId)
                    <div class="input">
                        @Html.DropDownListFor(m => m.Page.GroupId, Model.Groups)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Page.IsHidden)
                    <p>@Html.CheckBoxFor(m => m.Page.IsHidden) (@Piranha.Resources.Page.HiddenDescription)</p>
                </li>
                <li>@Html.LabelFor(m => m.Page.Keywords)
                    <div class="input"> 
                        @Html.TextBoxFor(m => m.Page.Keywords, new { @placeholder = Piranha.Resources.Global.Optional })</div>
                    @Html.ValidationMessageFor(m => m.Page.Keywords)
                </li>
                <li>@Html.LabelFor(m => m.Page.Description)
                    <div class="input">
                        @Html.TextAreaFor(m => m.Page.Description, new { @rows = 3, @placeholder = Piranha.Resources.Global.Optional })</div>
                    @Html.ValidationMessageFor(m => m.Page.Description)
                </li>
            </ul>
        </div>
    </div>

    @if (Model.PageRegions.Count > 0) {
    <div class="box">
        <div class="title">
            <h2>@Piranha.Resources.Global.Content</h2>
            <div id="regionbuttons" class="buttons">
                @for (int n = 0; n < Model.PageRegions.Count; n++) {
                <button id="@Html.Raw("btn_" + Model.PageRegions[n].Name)" class="btn@(n > 0 ? "" : " active") pageregion">@Model.PageRegions[n].Name</button>
                }
                <button id="btn_attachments" class="btn">@Piranha.Resources.Page.Attachments</button>
            </div>
        </div>
        <div class="inner">
            <div id="pageregions">
                @Html.EditorFor(m => m.PageRegions)
            </div>
            <div id="attachments" style="display:none">
                @Html.Partial("Partial/Attachments")
            </div>
        </div>
    </div>
    }
    
</div>
<div class="grid_3">
    <div class="box pagetemplate">
        <div class="title"><h2>@Model.Template.Name.Singular</h2></div>
        <div class="inner">
            <div class="edit">
                @Model.Template.Preview
            </div>
            <p><small>@Model.Template.Description</small></p>
        </div>
    </div>
    @if (Model.Properties.Count > 0) {
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Global.Properties</h2></div>
        <div class="inner">
            <ul class="form">
            @for (int n = 0; n < Model.Properties.Count; n++) {
                <li>@Html.LabelFor(m => m.Properties[n], Model.Properties[n].Name)
                    @Html.HiddenFor(m => m.Properties[n].Id)
                    @Html.HiddenFor(m => m.Properties[n].IsDraft)
                    @Html.HiddenFor(m => m.Properties[n].ParentId)
                    @Html.HiddenFor(m => m.Properties[n].Name)
                    @Html.HiddenFor(m => m.Properties[n].Created)
                    @Html.HiddenFor(m => m.Properties[n].CreatedBy)
                    @Html.HiddenFor(m => m.Properties[n].IsNew)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Properties[n].Value)</div>
                </li>
            }
            </ul>
        </div>
    </div>
    }
    @if (!Model.Page.IsNew) {
    <div class="box expandable">
        <div class="title"><h2>@Piranha.Resources.Global.Versioning</h2></div>
        <div class="inner optional">
            <ul class="list">
                <li>@Piranha.Resources.Global.LastPublished <small class="right">@Model.Page.LastPublished.ToShortDateString()</small></li>
                <li>@Piranha.Resources.Global.Published <small class="right">@Model.Page.Published.ToShortDateString()</small></li>
                <li>@Piranha.Resources.Global.Updated <small class="right">@Model.Page.Updated.ToShortDateString()</small></li>
                <li>@Piranha.Resources.Global.Created <small class="right">@Model.Page.Created.ToShortDateString()</small></li>
            </ul>
        </div>
    </div>
    }
</div>
@{ Html.EndForm() ; }
@section Foot {
 <div id="boxContent" class="floatbox">
    <div class="bg"></div>
    <div class="box" style="min-width: 510px;min-height:260px;">
    </div>
</div>
   @if (false) { // (!Model.Page.IsNew) {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".toolbar .page-preview").attr("src", "http://@Request.Url.DnsSafeHost@Url.GetPreviewlink(Model.Page.Id).ToLower()");
            $.each($(".toolbar .tooltip"), function (i, e) {
                $(this).css({ left: -(($(this).outerWidth() - $(this).parent("li").width()) / 2) });
            });
        });
    </script>
    }
}