@model Piranha.Models.Manager.PageModels.ListModel
@{
    ViewBag.Title = @Piranha.Resources.Page.ListTitle ;
    ViewBag.Selected = "Cms" ;
    ViewBag.SelectedTab = "Page" ;
}
@section Head {
    <script type="text/javascript">
        //
        // Sets all hidden fields before submit
        function preSubmit(parentid, seqno) {
            $("#ParentId").val(parentid);
            $("#Seqno").val(seqno);

            floatBox.show('boxTemplates');

            return false;
        }

        var deletemsg = "@Piranha.Resources.Page.MessageDeleteConfirm";

        //
        // Set the selected template id
        $(document).ready(function () {
            $(".templates").click(function () {
                $("#TemplateId").val($(this).attr("data-templateid"));
                $("form").submit();
            });

            $(".delete").click(function() {
                return confirm(deletemsg) ;
            });
        });
    </script>
}
@section Toolbar { 
@Html.Partial("Partial/TabsContent")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li id="tt-add"><a onclick="floatBox.show('boxTemplates', 200, 240)" class="add"></a>
                <div class="tooltip"><p>@Piranha.Resources.Page.ToolbarAdd</p></div></li>
            <li id="tt-refresh"><a href="" class="refresh"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarReload</p></div></li>
            <li></li>
            <li id="tt-info"><a href="" class="info"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarHelp</p></div></li>
        </ul>
        @using (Html.BeginForm("Search", "Page")) {
            <button class="search" title="@Piranha.Resources.Global.ToolbarSearch"></button>@Html.TextBox("search")
        }
        <div class="clear"></div>
    </div>
</div>
}
<div class="grid_12">
@using (Html.BeginForm("Insert", "Page")) {
    @Html.Hidden("TemplateId", "906761ea-6c04-4f4b-9365-f2c350ff4372")
    @Html.Hidden("ParentId")
    @Html.Hidden("Seqno")
    <table class="list tabbed">
        <thead>
            <tr>
                <th>@Piranha.Resources.Global.Title</th>
                <th>@Piranha.Resources.Global.Type</th>
                <th>@Piranha.Resources.Global.Created</th>
                <th>@Piranha.Resources.Global.Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model.Pages) {
            <tr@(page.Updated > page.LastPublished ? " class=draft" : "")>
                <td@(page.Level > 1 ? " class=level" + page.Level : "")><a href="@Url.Action("edit", "page", new { id = page.Id })">@page.Title</a></td>
                <td>@page.TemplateName.Singular</td>
                <td class="date">@page.Created.ToString("yyyy-MM-dd")</td>
                <td class="date">@page.Updated.ToString("yyyy-MM-dd")</td>
                <td class="buttons three">
                    <button class="icon arrow-down marg" title="@Piranha.Resources.Page.ListAddAfter" onclick="return preSubmit('@page.ParentId', @page.Seqno + 1)" type="submit"></button>
                    <button class="icon arrow-right marg" title="@Piranha.Resources.Page.ListAddBelow" onclick="return preSubmit('@page.Id', 1)" type="submit"></button>
                    @if (page.Pages.Count == 0) {
                    <a href="@Url.Action("delete", "page", new { id = page.Id })" title="@Piranha.Resources.Page.ListDelete" class="icon delete"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
}
</div>

@section Foot {
<div id="boxTemplates" class="floatbox">
    <div class="bg"></div>
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Page.PopupTypeTitle</h2></div>
        <div class="inner">
        @foreach (var template in Model.Templates) {
            <div class="templates left" data-templateid="@template.Id">
                <h3>@template.Name.Singular</h3>
                <div class="preview" style="width:120px;height:120px;margin:0 auto;">
                    @template.Preview
                </div>
                <p>@template.Description</p>
            </div>
        }
            <div class="clear"></div>
        </div>
    </div>
</div>
}