@model Piranha.Models.Manager.ContentModels.PopupModel
@{
    Layout = "";
    var first = true ;
}
<div class="title">
    <ul class="box-tabs">
        <li class="selected"><a href="#attach-existing">Choose existing</a></li>
        <li class="hidden"><a href="#attach-new">Upload new</a></li>
    </ul>
    <a class="close-btn right" data-id="boxContent"></a>
    <div class="clear"></div>
</div>
<div id="attach-existing" class="inner gallery @(Model.Content.Count > 12 ? "gallery-compressed" : "")">
    @foreach (var content in Model.Content) {
        <div class="gallery-item @(Model.Content.Count > 12 ? "compressed" : "")">
            @if (first && content.ParentId != Guid.Empty) {
            <img class="folder" data-id="@content.Id" src="@Url.Content("~/areas/manager/content/img/ico-folder-up-96.png")" />
            } else {
            <img@(content.IsFolder ? " class=folder" : (!content.IsImage ? " class=document" : "")) data-id="@content.Id" src="@Url.GetThumbnailUrl(content.Id, 96)" title="@content.AlternateText" alt="@content.AlternateText" />
            }
            <p><small>@content.DisplayName</small></p>
        </div>
        first = false ;
    }
    <div class="clear"></div>
</div>