@model Piranha.Models.Manager.TemplateModels.PageListModel
@{
    ViewBag.Title = @Piranha.Resources.Template.ListTitlePage ;
    ViewBag.Selected = "Settings" ;
    ViewBag.SelectedTab = "PageType" ;
}
@section Head {
    <script type="text/javascript">
        $(document).ready(function() {
            $(".delete").click(function() {
                return confirm("@Piranha.Resources.Template.MessageDeletePageConfirm") ;
            });

            var options = {
                listClass:  'list-js',
                searchId: 'search',
                valueNames: ['name', 'created', 'updated']
            };
            var list = new List('list', options);
        });
    </script>
}
@section Toolbar { 
@Html.Partial("Partial/TabsSettings")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a href="@Url.Action("page")" class="add">@Piranha.Resources.Global.ToolbarAdd</a></li>
            <li><a href="" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
        </ul>
        <button class="search" title="@Piranha.Resources.Global.ToolbarSearch"></button>@Html.TextBox("search")
        <div class="clear"></div>
    </div>
</div>
}
<div class="grid_12">
    <table id="list" class="list">
        <thead>
            <tr>
                <th><span class="sort asc" data-sort="name">@Piranha.Resources.Global.Name</span></th>
                <th><span class="sort" data-sort="created">@Piranha.Resources.Global.Created</span></th>
                <th><span class="sort" data-sort="updated">@Piranha.Resources.Global.Updated</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list-js">
            @foreach (var pt in Model.Templates) {
            <tr>
                <td class="name"><a href="@Url.Action("page", new { id = pt.Id })">@pt.Name</a></td>
                <td class="created date">@pt.Created.ToString("yyyy-MM-dd")</td>
                <td class="updated date">@pt.Updated.ToString("yyyy-MM-dd")</td>
                <td class="buttons one">
                    <a class="icon delete" title="@Piranha.Resources.Template.ListDeletePage" href="@Url.Action("deletepage", new { id = pt.Id })"></a></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
</div>
