@model Piranha.Models.Manager.TemplateModels.PostEditModel
@{
    ViewBag.Selected = "Settings" ;
}
@section Toolbar {
<div class="grid_12 toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarSave</p></div></li>
            <li><a href="@Url.Action("deletepost", new { id = Model.Template.Id })" class="delete"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarDelete</p></div></li>
            <li><a href="@Url.Action("postlist")" class="back"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarBack</p></div></li>
            <li><a href="" class="refresh"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarReload</p></div></li>
            <li><a href="" class="info"></a>
                <div class="tooltip"><p>@Piranha.Resources.Global.ToolbarHelp</p></div></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
}
@{ Html.BeginForm("Page") ; }
<div>
    @Html.HiddenFor(m => m.Template.Id)
    @Html.HiddenFor(m => m.Template.IsNew)
    @Html.HiddenFor(m => m.Template.Created)
    @Html.HiddenFor(m => m.Template.Updated)
    @Html.HiddenFor(m => m.Template.CreatedBy)
    @Html.HiddenFor(m => m.Template.UpdatedBy)
</div>
<div class="grid_9">
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Global.Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Template.Name.Singular)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Template.Name.Singular)</div>
                    @Html.ValidationMessageFor(m => m.Template.Name.Singular)
                </li>
                <li>
                    @Html.LabelFor(m => m.Template.Name.Plural)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Template.Name.Plural)</div>
                    @Html.ValidationMessageFor(m => m.Template.Name.Singular)
                </li>
                <li>
                    @Html.LabelFor(m => m.Template.Description)
                    <div class="input">
                        @Html.TextAreaFor(m => m.Template.Description, 
                            new { @rows = 3, @placeholder = Piranha.Resources.Global.Optional })</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="box">
        <div class="title"><h2>Avancerat</h2></div>
        <div class="inner">
            <div class="input">
                @Html.TextBoxFor(m => m.Template.Controller, new { @placeholder = Piranha.Resources.Global.Optional })</div>
        </div>
    </div>
</div>
@{ Html.EndForm() ; }